doc
Eigen_functions_112015.R
INTERVALdata_28FEB2020.csv
WGS-WES-Olink_ID_map_INTERVAL_release_28FEB2020.txt
burden_testing/
burden_testing_latest.sif
exon_CADD.groupfile.txt
exon_reg.groupfile.txt
exon_severe.groupfile.txt
final_flagship_phenotypes
geneset_data/GTEx_Analysis_v8_eQTL.tar.gz
geneset_data/Linked_features.bed.gz
geneset_data/Linked_features.bed.gz.tbi
geneset_data/ensembl-vep/
geneset_data/gencode.basic.annotation.protein_coding.tsv.gz
geneset_data/gencode.basic.annotation.tsv.gz
geneset_data/scores/
geneset_data/vep/
high_dimensional_data
idmap.log
no_singularity.sb
olink_proteomics
omicsMap.csv
raw_results
reference_files_wes
reference_files_wgs
reg_Only.groupfile.txt
rva/
sbatch.txt
site/
wes
wes.log
weswgs.log
wgs
wgs.log
work/
*groupfile*
